
<p>Il router outlet è dove la pagina attiva nel routing verrà visualizzata</p>
<p>
    <ol>
        <li>creare i componenti per le pagine</li>
        <li>
            <ul>
                <li>impostare le rotte</li>
                <li>andare nel file app-routing.module.ts, altrimenti se non è presente si può fare nell' app.module.ts </li>
                <li>modificare l'array routes inserendo degli oggetti rotta
                    
                        <br>path: 'str' ->l'indirizzo della pagina !!ATTENZIONE NON INDIDCARE LO /
                        <br>component: ComponentClass -> il componente da visualizzare
                    <br>
                </li>
            </ul>
        </li>
    </ol>